body{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('back.png');
}
button{
    border: none;
    border-radius: 10px;
    color: #D7D9E0;
    background-color: #053189;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin-top: 3%;

}
/* CLASS */
.container{
    width: 60%;
    height: 80%;
    background: linear-gradient( #969499,#F0F4ED);
    display: grid;
    justify-content: center;
    margin: 10vh auto;
    font-size: 25px;  
    border-radius: 10px;   
}
.line{
   display: flex;
   flex-direction: row; 
   justify-content: center;
   align-items: center;
}
.center{
    text-align: center;
}
.panel-player1,
.panel-player2{
    font-size: 50px;
    opacity: 0.3; 
    line-height: 0.75;
    padding: 20px;
}
.active{
    border: 2px solid black;
    border-radius: 10px;
    opacity: 1;
}
.img-dice{
    height: 150px;
    width: 150px;
    margin: 0 100px;
    border-radius: 20px;
    border: 5px solid red;
    position: static;
}
.CURRENT{
    border: black solid 5px;
    border-radius: 10px;
}
.winner{
    background:linear-gradient(#053189,rgb(205, 193, 240)  );
    font-weight: 300;
    padding: 20px;
    color: #D7D9E0;
    border-radius: 10px;
    border: black solid 5px;
    opacity: 1;
}


/* ID */
#new-game{
    margin: 0px;
   }
#hold-btn{
    margin: 30px 100px;
}

#player-total1,
#player-total2{
    color: #5174BA ;
    font-size: 75px;
}

/*Media queries*/

@media  (orientation :portrait){
    button{
        height: 100px;
        width: 300px;
        font-size: 45px;
    }
    #img-dice{
        height: 300px;
        width: 300px;
    }
  
    .center{
        font-size: 45px;
    }
    .container{
        width: 90vw;
        height: 90vh;
    }
    .winner{
        width: 200px;
    }

    #hold-btn{
        margin: 30px;
    }
    
}

